.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  border: 1px solid #e2e2e2;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  opacity: 0.8;
}
